@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');

/*-------------------------------------
Color Palette & Font Size
--------------------------------------*/
:root {
	--text-color: #d3d3d3;
	--accent1-color:  #e4a7e7;
	--accent2-color: #e7b1ea;
	--primary-color: #282328;
	--secondary-color: #3c383c;
	--primary-background-color: #171717;
	--secondary-background-color: #2c2c2c;

	--text-xl: 1.875rem;
	--text-l: 1.5rem;
	--text-m: 1.25rem;
	--text-s: 1.125rem;
	--text-xs: 1rem;
	--text-xxs: 0.938rem;
}

/*-------------------------------------
Default code
--------------------------------------*/
* {
    margin: 0;
    padding: 0;
}

* {
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-o-box-sizing:border-box;
	-ms-box-sizing:border-box;
}

* {
	color: var(--text-color);
	font-family: 'Quicksand', sans-serif;
}

/*-------------------------------------
body
--------------------------------------*/
body {
	background-color: var(--primary-background-color);
}

section {
	display: flex;
    flex-direction: column;
    align-items: center;
	padding-top: 90px;
	padding-bottom: 25px;
	gap: 30px;
}

/*-------------------------------------
heading and text
--------------------------------------*/
h1 {
	font-size: var(--text-xl);
}

h2 {
	font-size: var(--text-l);
}

h3 {
	font-size: var(--text-m);
}

p {
	font-size: var(--text-s);
}

a {
    color: var(--text-color);
    font-size: var(--text-s);
    text-decoration: none;
}